# Ignore Vagrant-related files
.vagrant/
*.vbox
*.vbox-prev
*.vmx
*.vmsd
*.vmdk

/certs

# Ignore Ansible-related files
*.retry
*.yml~
*.ansible-lint

# Ignore Docker-related files
.docker/
*.log
*.pid
*.swp
/docker/vault_server/auth
/docker/vault_agent/secrets

# Ignore the winrm folder
winrm/

# Ignore OS-specific files
.DS_Store
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Ignore virtual environments and Python-related files (if using Python in the project)
venv/
*.pyc
*.pyo
__pycache__/

# Ignore editor-specific files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
/DeployHub.iml

# Ignore system-specific files
*.bak
*.swo

# Ignore any lock files (e.g., from Ansible or Docker)
*.lock

.ssh_keys/*/known_hosts*
.ssh_keys/*/authorized_keys
