
[defaults]
# SSH connection timeout — i.e., how long Ansible will wait to establish the SSH connection
timeout = 60
pipelining = True
interpreter_python = /usr/bin/python3
roles_path = /ansible/roles:/ansible/.galaxy
collections_path = /ansible/.galaxy/collections
vault_password_file = /ansible/vault_pass.txt

# the local environment, the least important infrastructure is affected by changes.
# Promoting changes to new environments then is an explicit action that requires the -i flag.
# e.g.: ansible-playbook /ansible/playbooks/connectivity.yml --vault-password-file /ansible/vault_pass.txt
inventory = /ansible/inventory/local

[ssh_connection]
# Every 30 seconds Ansible will send a "keepalive" packet over SSH.
# If 5 of those fail (so 30s * 5 = 150 seconds) → only then SSH gives up.
ssh_args = -o ServerAliveInterval=30 -o ServerAliveCountMax=5
